*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px;
}

img{
    width: 100%;
    height: 100%;
}

.conteiner{
    display: flex;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    gap: 20px;
}

.login{
    width: 90%;
    border: 1px solid rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
}

.login:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}

.login input{
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 10px;
}


.login .senha{
    width: 100%;
    padding-left: 10px;
    outline: none;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
}



.login button{
    border: none;
    width:40px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

.entrar{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.entrar:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}