*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
}

/* ... (Restante do seu CSS) ... */

img{
    width: 100%;
    height: 100%;
}

.conteiner, .conteinerCadastrar{
    display: flex;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    gap: 20px;
}

.login{
    width: 90%;
    border: 1px solid rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    transition: 0.2s;
}

.login:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.login input, .login select {
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 30px;
    border-radius: 10px;
}

.login .senha{
    width: 100%;
    padding-left: 10px;
    outline: none;
    height: 30px;
    border-radius: 10px 0px 0px 10px;
}

.login button{
    border: none;
    width:40px;
    border-radius: 0px 20px 20px 0px;
    background-color: white;
    cursor: pointer;
}

.telaCadastro, .telaLogin{
    text-decoration: none;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.telaCadastro:hover, .telaLogin:hover{
    text-decoration: underline;
}

.entrar, .cadastrar{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.entrar:hover, .cadastrar:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.direita{
    display: flex;
    width: 90%;
    padding-right: 20px;
    justify-content: end;
}

.sumir{
    display: none;
}

/* Estilos para o Alerta de Mensagens */
.alerta-escondido {
    display: none;
}

#alerta-mensagem {
    position: absolute;
    top: 20px;
    width: 350px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    z-index: 10;
}

.alerta-sucesso {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alerta-erro {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}