*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    gap: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    width: 300px;
    gap: 90px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usuario{
    display: flex;
    align-items: center;
    background-color: rgb(221, 221, 221);
    width: 85%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
}

.foto{
    background-color: black;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
}


.links{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap:30px;

}

.bto-autonomos,.bto-mei,.bto-empresas{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    transition: 0.2s;
    border: none;
}

.bto-empresas:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}

.bto-mei:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}

.bto-autonomos:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}

.painel{
    width: 82.8%;
    border-radius: 15px;
    height: 98%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);

}